<!DOCTYPE html>
    <html>

    <head><title>Home</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>

    <body>
    <h1>PalTrack</h1>
    <div class="new_status">
        <a href="/newstatus/"><h1>Create new status</h1></a>
        <p>Share your current status with friends!</p>
    </div>

    <div class="current_status">
       <a href="/users/current/"><h1>View current status</h1></a>
        <p>View you or your friend's current status</p>
    </div>

    <div class="history">
        <a href="/users/history/"><h1>View status history</h1></a>
        <p>View all of you or your friend's previous statuses</p>
    </div>
    </body>

    </html> 