body {

background-color: #e3ccb5;

}

.h1{

    font-family: optima;
}

.h2{

    font-family: optima;
}


.h3{

    font-family: optima;
}

.p{

    font-family: optima;
}

.a{

    font-family: optima;
}